<template>
  <form @submit.prevent="onSubmit">
    <div class="form-header">
      <button
        type="button"
        class="mode"
        v-bind:class="{ income: mode.id === 1, expense: mode.id === 2 }"
        @click="toggle"
      >
        {{ mode.name }}
      </button>
      <input
        class="input"
        type="text"
        v-model.number="amount"
        placeholder="Enter amount*"
      />
      <input
        class="input title"
        type="text"
        v-model="title"
        placeholder="Enter title (optional)"
      />
    </div>
    <textarea
      type="text"
      v-model="description"
      placeholder="Enter description (optional)"
    />
    <button type="submit" class="submit">Add</button>
  </form>
</template>

<script>
import { mapActions } from 'vuex';
import { getModes } from '../services/budgetService';

const [INCOME_MODE, EXPENSE_MODE] = getModes();

export default {
  name: 'Add',
  data() {
    return {
      mode: INCOME_MODE,
      title: '',
      amount: '',
      description: '',
    };
  },
  methods: {
    ...mapActions(['add']),
    toggle() {
      this.mode = this.mode === INCOME_MODE ? EXPENSE_MODE : INCOME_MODE;
    },
    onSubmit() {
      if (Number(this.amount)) {
        this.add({
          mode: this.mode,
          amount: this.amount,
          title: this.title || null,
          description: this.description || null,
        });

        this.title = '';
        this.amount = '';
        this.description = '';
      }
    },
  },
};
</script>

<style src="../assets/styles/Add.css" scoped />
