<template>
  <div>
    <ul v-if="allExpenses.length">
      <li v-for="expense in allExpenses" :key="expense.id">
        <div class="header">
          <div class="amout expense">− {{ expense.amount }}</div>
          <div class="title">{{ expense.title || 'No title' }}</div>
          <button type="button" class="remove" @click="remove(expense.id)">&times;</button>
        </div>
        <div v-if="expense.description" class="description">{{ expense.description }}</div>
      </li>
    </ul>
    <h3 v-else>No expenses</h3>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Expenses',
  computed: mapGetters(['allExpenses']),
  methods: mapActions(['remove']),
};
</script>

<style src="../assets/styles/list.css" scoped>
