<template>
  <header class="Header">
    <div class="container">
      <h1><span>Budget app.</span> Available: {{ incomes - expenses }}</h1>
      <div class="budget-data">
        <div class="budget__el budget-incomes">
          <div class="budget__el-title">Incomes</div>
          <div class="budget__el-data">+ {{ incomes }}</div>
        </div>
        <div class="budget__el budget-expenses">
          <div class="budget__el-title">Expenses</div>
          <div class="budget__el-data">− {{ expenses }}</div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Header',
  methods: {
    ...mapActions(['fetchBudgetData']),
  },
  computed: {
    ...mapGetters(['allIncomes', 'allExpenses']),
    incomes() {
      return this.allIncomes.reduce((acc, income) => acc + income.amount, 0);
    },
    expenses() {
      return this.allExpenses.reduce((acc, expense) => acc + expense.amount, 0);
    },
  },
  created() {
    this.fetchBudgetData();
  },
};
</script>

<style src="../assets/styles/Header.css" scoped />
