<template>
  <div>
    <ul v-if="allIncomes.length">
      <li v-for="income in allIncomes" :key="income.id">
        <div class="header">
          <div class="amout income">+ {{ income.amount }}</div>
          <div class="title">{{ income.title || 'No title' }}</div>
          <button type="button" class="remove" @click="remove(income.id)">&times;</button>
        </div>
        <div v-if="income.description" class="description">{{ income.description }}</div>
      </li>
    </ul>
    <h3 v-else>No incomes</h3>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Incomes',
  computed: mapGetters(['allIncomes']),
  methods: mapActions(['remove']),
};
</script>

<style src="../assets/styles/list.css" scoped>
