<template>
  <div class="nav">
    <div class="nav-links container">
      <router-link to="/" class="nav-el">Add</router-link>
      <router-link to="/incomes" class="nav-el">
        Incomes ({{ incomesCount }})
      </router-link>
      <router-link to="/expenses" class="nav-el">
        Expenses ({{ expensesCount }})
      </router-link>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Nav',
  computed: {
    ...mapGetters(['allIncomes', 'allExpenses']),
    incomesCount() {
      return this.allIncomes.length;
    },
    expensesCount() {
      return this.allExpenses.length;
    },
  },
};
</script>

<style src="../assets/styles/Nav.css" scoped />
