<template>
  <div id="app">
    <Header />
    <Nav />
    <div class="container main">
      <router-view />
    </div>
  </div>
</template>

<script>
import Header from './components/Header';
import Nav from './components/Nav';

export default {
  name: 'App',
  components: {
    Header,
    Nav,
  },
};
</script>

<style src="./assets/styles/App.css" />
