form {
  display: flex;
  flex-direction: column;
}

.submit {
  margin-left: auto;
  margin-top: 10px;
  padding: 10px 40px;
  border: 3px solid var(--action);
  font-weight: 700;
  background: var(--action);
  transition: 0.2s;
}

.mode {
  min-width: 100px;
  padding: 10px 0 10px 0;
  border: 1px solid transparent;
  transition: 0.2s;
}

.submit:hover,
.mode:hover {
  border-color: var(--dark);
}

.income {
  background: var(--green);
}

.expense {
  background: var(--red);
}

.form-header {
  height: 43px;
  margin-bottom: 10px;
  display: flex;
}

.input {
  height: 100%;
  margin-left: 10px;
  padding-left: 10px;
}

.title {
  width: 100%;
}

textarea {
  padding: 10px;
  height: 150px;
}
