:root {
  --green: #5aff40;
  --red: #ff495f;
  --dark: #14213d;
  --white: #ecf0f1;
  --action: #fca311;
  --dark-red: #f7112c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Sans-serif;
  background-color: var(--white);
  font-size: 18px;
  color: #011627;
}

#app {
  display: flex;
  flex-direction: column;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

textarea,
button,
input {
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  cursor: auto;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

.main {
  padding-top: 30px;
}
