h1 {
  color: #e5e5e5;
}

h1 > span {
  color: var(--action);
}

.Header {
  background: linear-gradient(#14213d77, #14213d),
    url('../bg-header.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  color: #e5e5e5;
}

.Header > .container {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.budget-data {
  display: flex;
}

.budget__el {
  margin: 10px 20px;
  padding: 5px 10px;
  border-bottom: 2px solid;
  display: flex;
}

.budget__el-title {
  margin-right: 15px;
  font-weight: 700;
}

.budget-incomes {
  border-color: var(--green);
  color: var(--green);
}

.budget-expenses {
  border-color: var(--red);
  color: var(--red);
}
