ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

li > .header {
  display: flex;
}

.header > *,
.description {
  padding: 4px 8px;
}

.amout {
  width: 100px;
  margin-right: 10px;
}

.title {
  width: 100%;
}

.remove {
  color: white;
  background: var(--dark-red);
  transition: 0.2s;
}

.remove:hover {
  opacity: 0.9;
}

.income {
  background: var(--green);
}

.expense {
  background: var(--red);
}
