.nav {
  background: var(--dark);
  color: var(--white);
  height: 40px;
}

.nav-links {
  height: 100%;
  display: flex;
}

.nav-el {
  color: var(--white);
  margin-right: 10px;
  height: 100%;
  transition: 0.2s;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: solid var(--white);
  border-width: 1px 1px 0 1px;
  text-decoration: none;
}

.nav-el:hover,
.router-link-exact-active {
  background: var(--action);
  color: var(--dark);
  border-color: var(--action);
}
